!!!5
html
  body
    table(border=1)
      tr
        th service name
        th logs
      tr
        td [hosting process]
        td
          a(href='http://anodejs-log.anodejs.org/__host__') logs
      - services.forEach(function(svc) {
      tr
        td
          a(href=svc.url)= svc.name
        td
          a(href=svc.logsUrl) logs
      - });